@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --url: 
}
body {
  font-family: 'Roboto', sans-serif;
  background-image: url('../public/resources/main_background.jpg'); /* Path to your background image */
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  margin: 0;
}